body
{
    background-color: lightblue;
}

div.start {
    border: 1px solid;
    height: 1.5cm;
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.box2
{
    border:1px solid rgba(0, 0, 0, 0.04);
    width:16%;
    margin-top:0.5cm;
    background-color: lightblue;
    border-radius:5px;
    float:left;

}

a.a1 {
    color: black;
    text-decoration: none;
    background-color: #cddaff;
    font-size: 18px;
    display: block;
    margin-top:0.8cm;
    margin-bottom: 0.8cm;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 9px 0px rgb(11, 11, 11), 0px 9px 25px rgba(205, 218, 255, 0.7);
    -moz-box-shadow: 0px 9px 0px rgb(11, 11, 11), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(11, 11, 11), 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

}
a:active {
    -webkit-box-shadow: 0px 3px 0px rgb(32, 49, 178), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(32, 49, 178), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(32, 49, 178), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

a.a1:hover {
    color: white;
    background-color: #0b0b0b;
    font-size: 18px;
    box-shadow: 0px 9px 0px rgb(204, 195, 255), 0px 9px 25px rgba(248, 248, 238, 0.7);
}


div#desciption {
    background-color: lightblue;
    font-size: 125%;
    border: 1px solid grey;
    margin-left: 5.8cm;
}
p {
    margin-left: 0.2cm;
}
div#mid {
    column-count: 2;
    background-color: lightblue;
    font-size: 125%;
    border: 1px solid black;
}
div#end {
    border: 1px solid;
    height: 1cm;
    background-color: black;
    color: white;
    text-align: right;
}
b.b1
{
    margin-left:1cm;
    color:black;
}