div.start
{
    border:1px solid;
    height:1.5cm;
    background-color:black;
    color:white;
    text-align:center;
}

div.img
{
    float:left;
}

div#desciption
{
    background-color:lightblue;
    font-size:125%;
    border:1px solid black;
    margin-left:5.8cm;
}

div#mid
{
    column-count:2;
    background-color:lightblue;
    font-size:125%;
    border:1px solid black;
}
div#end
{
    border:1px solid;
    height:1cm;
    background-color:black;
    color:white;
    text-align:right;
}
b{
    background-color:palegoldenrod;
    margin-left:1.1cm;
}

p{
    margin-left:0.2cm;
}
